

<div id="about-me" class="vh-100">
  <div class="main">
    <section class="trigger">
      <span class="flip down">It's time<br />to know</span>
      <span class="flip up ">About<br />me..</span>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </section>
  </div>
  <!-- <div class="about">
    <div id="wrapper">
      <div id="content">
    
        <div class="accordions">
          <div class="accordion font-main">
            <div class="title">
              About Me..
            </div>
            <div class="text">
              <p>Hello! My name is Khloud Sayed, and I am a passionate front-end developer. I was born on September 1,
                1995, and I have been honing my skills in web development ever since.</p>
            </div>
          </div>
          <div class="accordion font-main">
            <div class="title">Profissional Background.</div>
            <div class="text">
              With 1 year of experience in the field, I have gained valuable expertise in front-end development. My
              primary focus is on creating engaging and interactive user interfaces to deliver exceptional user
              experiences. I am constantly striving to enhance my skills and broaden my knowledge to become a
              well-rounded full-stack developer.
            </div>
          </div>
          <div class="accordion font-main">
            <div class="title">Technical Skills</div>
            <div class="text">
              In my front-end development work, I primarily utilize JavaScript, whether it's standalone or in
              conjunction with popular frameworks like Angular. I believe in crafting visually appealing websites, and
              to achieve this, I leverage the power of Sass, CSS, and their counterparts, such as Bootstrap, whenever
              necessary.
            </div>
          </div>
          <div class="accordion font-main">
            <div class="title">My Passion.</div>
            <div class="text">Web development is not just a profession for me; it's my passion. I am dedicated to
              staying updated with the latest industry trends and emerging technologies. This drive motivates me to
              continually learn and explore new possibilities in the field of web development.</div>
          </div>
        </div>
        <div class="spacer"></div>
      </div>
    </div>
  </div> -->
  <div class="tes">
    <div class="accordion animate__animated animate__backInLeft"> 
  
      <p class="text">About me<span class="text-main">...</span></p>
      <div class="accordion-content">
        <div class="accordion-inner"> 
          <p class="text-center">Hello! My name is Khloud Sayed, and I am a passionate front-end developer. I was born on September 1,
            1995, and I have been honing my skills in web development ever since.</p>
        </div>
      </div>
    </div>
    <div class="accordion animate__animated animate__backInRight"> 
      <p class="text">Profissional Background <span class="text-main">...</span></p>
      <div class="accordion-content">
        <div class="accordion-inner"> 
        <p class="text-center"> With 1 year of experience in the field, I have gained valuable expertise in front-end development. My
          primary focus is on creating engaging and interactive user interfaces to deliver exceptional user
          experiences. I am constantly striving to enhance my skills and broaden my knowledge to become a
          well-rounded full-stack developer.</p>  
        </div>
      </div>
    </div>
    <div class="accordion animate__animated animate__backInLeft"> 
      <p class="text">Technical Skills<span class="text-main">...</span></p>
      <div class="accordion-content">
        <div class="accordion-inner"> 
        <p class="text-center">In my front-end development work, I primarily utilize JavaScript, whether it's standalone or in
          conjunction with popular frameworks like Angular. I believe in crafting visually appealing websites, and
          to achieve this, I leverage the power of Sass, CSS, and their counterparts, such as Bootstrap, whenever
          necessary.</p>  
        </div>
      </div>
    </div>
    <div class="accordion animate__animated animate__backInRight"> 
      <p class="text">My Passion<span class="text-main">...</span></p>
      <div class="accordion-content">
        <div class="accordion-inner"> 
        <p class="text-center">Web development is not just a profession for me; it's my passion. I am dedicated to
          staying updated with the latest industry trends and emerging technologies. This drive motivates me to
          continually learn and explore new possibilities in the field of web development.</p>  
        </div>
      </div>
    </div>
    <div class="accordion animate__animated animate__backInLeft"> 
      <p class="text">Additional Info<span class="text-main">...</span></p>
      <div class="accordion-content">
        <div class="accordion-inner"> 
        <p class="text-center">My phone number is 01017577511, my email address is khuuluudsayed18@gmail.com </p>  
        </div>
      </div>
    </div>
  </div>

</div>