<div id="contact" class="py-5 ">
    <div class="container py-5 w-50 m-auto">
        <p class="fw-bolder animate__animated animate__bounceInDown">Want to <br> get in touch?</p>
        <p class="animate__animated animate__bounceInLeft">Please, use the form below or send an email to khuuluudsayed18<span class="text-main">@</span>gmail<span class="text-main">.</span>com:</p>
    <form>
        <input type="text" placeholder="Name" class="form-control mb-3 text-light">
        <input type="email" placeholder="Email" class="form-control mb-3">
        <textarea name="" id="" cols="30" rows="5" placeholder="Message" class="form-control mb-3"></textarea>
        <button class="btn btn-outline-success fw-bold">Send</button>
    </form>

    
    </div>
</div>