<div id="resume">
  <div class="container py-5">
    <div class="brief text-center py-5">
      <h3 class="text-main fw-bolder pt-5" data-aos="fade-down">My Projects</h3>
      <p class="fw-bold " data-aos="flip-up">Here's a list of most of the projects I've been working on lately. <br> All of these were built
        during my coding
        journey, <br> where I've been coding for almost 7 months non-stop <br> until I completed all the
        projects required to get my Front End Developer certification.</p>
    </div>
  </div>
  <div class="container">
    <div class="row gy-5">
      <div class="weather-project d-flex align-items-center">
        <div class="col-md-6">
          <div class="imag "  data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <img src="../../assets/imgs/Screenshot (1).png" alt="" class="" width="400px" height="400px">
          </div>
        </div>
        <div class="col-md-6 px-5" data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <div class="project-Details">
            <div class="project-icons ">
              <i class="fa-brands fa-html5 px-1"></i>
              <i class="fa-brands fa-css3 px-1"></i>
              <i class="fa-brands fa-bootstrap px-1"></i>
              <i class="fa-brands fa-square-js px-1"></i>

            </div>
            <span class="text-main fw-bolder">
              Weather Site.
            </span>
            <p>Built using HTML, Bootstrap, CSS, and
              JavaScript.</p>
            <p class="fw-bold">Our weather website is designed and developed to provide users with accurate and
              up-to-date weather
              information in a vi-
              sually appealing and user-friendly format.</p>
          </div>
          <div class="view-buttons">
            <button type="button" class="btn btn-outline-success me-2 fw-bolder"> <a href="https://github.com/khuuluud/Weather-Site">View Source</a><i
                class="fa-solid fa-up-right-from-square px-2 "></i> </button>
            <button type="button" class="btn btn-outline-success fw-bolder"><a href="https://weather-site-git-main-kholouds-projects.vercel.app/">Try it live</a><i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
          </div>
        </div>
      </div>
      <div class="meal-project d-flex align-items-center">
        <div class="col-md-6 ">
          <div class="imag" data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <img src="../../assets/imgs/Screenshot (90).png" alt="" class="" width="400px" height="400px">
          </div>
        </div>
        <div class="col-md-6 px-5 " data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <div class="project-Details">
            <div class="project-icons ">
              <i class="fa-brands fa-html5 px-1"></i>
              <i class="fa-brands fa-css3 px-1"></i>
              <i class="fa-brands fa-bootstrap px-1"></i>
              <i class="fa-brands fa-square-js px-1"></i>
              
            </div>
            <span class="text-main fw-bolder">
              Meal Recipes.
            </span>
            <p>Built using a combination of JavaScript,
              jQuery, HTML, and scss </p>
            <p class="fw-bold">Our meal recipes website is designed and developed to provide an engaging and
              user-friendly platform for discover-
              ing and exploring a wide range of delicious recipes</p>
          </div>
          <div class="view-buttons">
            <button type="button" class="btn btn-outline-success me-2 fw-bolder"><a href="https://github.com/khuuluud/Recipes-Frontend">View Source</a> <i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
            <button type="button" class="btn btn-outline-success fw-bolder"><a href="https://recipes-frontend-kholouds-projects.vercel.app/"> Try it live </a><i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
          </div>
        </div>
      </div>
      <div class="Daily-project d-flex align-items-center">
        <div class="col-md-6 ">
          <div class="imag" data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <img src="../../assets/imgs/Screenshot (95).png" alt="" class="" width="400px" height="400px">
          </div>
        </div>
        <div class="col-md-6 px-5" data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <div class="project-Details">
            <div class="project-icons ">
              <i class="fa-brands fa-html5 px-1"></i>
              <i class="fa-brands fa-css3 px-1"></i>
              <i class="fa-brands fa-bootstrap px-1"></i>
              <i class="fa-brands fa-square-js px-1"></i>
              <i class="fa-brands fa-angular  px-1"></i>
            </div>
            <span class="text-main fw-bolder">
              E-Commerce.
            </span>
            <p>built using Angular, typescript,
              scss , and html </p>
            <p class="fw-bold">Our e-commerce website is designed and developed to provide a seamless and interactive shopping experience.</p>
          </div>
          <div class="view-buttons">
            <button type="button" class="btn btn-outline-success me-2 fw-bolder"><a href="https://github.com/khuuluud/DailyDose">View Source</a> <i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
            <button type="button" class="btn btn-outline-success fw-bolder"><a href="https://daily-dose-kholouds-projects.vercel.app/">Try it live</a> <i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
          </div>
        </div>
      </div>
      <div class="party-project d-flex align-items-center">
        <div class="col-md-6 ">
          <div class="imag" data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <img src="../../assets/imgs/Screenshot (89).png" alt="" class="" width="400px" height="400px">
          </div>
        </div>
        <div class="col-md-6 px-5" data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <div class="project-Details">
            <div class="project-icons ">
              <i class="fa-brands fa-html5 px-1"></i>
              <i class="fa-brands fa-css3 px-1"></i>
              <i class="fa-brands fa-bootstrap px-1"></i>
              <i class="fa-brands fa-square-js px-1"></i>
              <i class="fa-brands fa-angular  px-1"></i>
            </div>
            <span class="text-main fw-bolder">
              Party Announcement...
            </span>
            <p>Built using JavaScript, jQuery, HTML, and CSS </p>
            <p class="fw-bold"> Our party announcement website is created
              to provide an interactive and visually appealing platform for announcing and managing
              party events.</p>
          </div>
          <div class="view-buttons">
            <button type="button" class="btn btn-outline-success me-2 fw-bolder"><a href="https://github.com/khuuluud/Egyptian-Party" class="">  View Source</a> <i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
            <button type="button" class="btn btn-outline-success fw-bolder"><a href="https://egyptian-party-kholouds-projects.vercel.app">Try it live </a><i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
          </div>
        </div>
      </div>
      <div class="client-project d-flex align-items-center">
        <div class="col-md-6 ">
          <div class="imag" data-aos="fade-right"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine">
            <img src="../../assets/imgs/Screenshot (87).png" alt="" class="" width="400px" height="400px">
          </div>
        </div>
        <div class="col-md-6 px-5" data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <div class="project-Details">
            <div class="project-icons ">
              <i class="fa-brands fa-html5 px-1"></i>
              <i class="fa-brands fa-css3 px-1"></i>
              <i class="fa-brands fa-bootstrap px-1"></i>
              
            </div>
            <span class="text-main fw-bolder">
              Portfolio.
            </span>
            <p>Built using a combination of HTML, Css and Bootstrap </p>
            <p class="fw-bold">Our Cilent Portfolio website is designed and developed for a client to show his services.</p>
          </div>
          <div class="view-buttons">
            <button type="button" class="btn btn-outline-success me-2 fw-bolder" > <a href="https://github.com/khuuluud/Client-Portfolio">View Source</a> <i
                class="fa-solid fa-up-right-from-square px-2 "></i></button>
            <button type="button" class="btn btn-outline-success fw-bolder"><a href="https://client-portfolio-kholouds-projects.vercel.app/"> Try it live </a>
              <i class="fa-solid fa-up-right-from-square px-2 "></i>
            </button>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>