
<div class="overlay-right position-absolute"></div>
<div class="overlay-left position-absolute"></div>

<header id="home" class="">
    <div class="layer position-absolute"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="home-caption text-light position-absolute   ">
                    <h1 class="animate-one d-flex flex-column animate__animated animate__fadeInDown"><span>I do</span>
                        <span>graphic design</span><span class="text-main"> & <span
                                class="text-white">code.</span></span>
                    </h1>
                    <button class="btn me-2 py-2 px-4 animate__animated animate__fadeInUp" [routerLink]="'/resume'">MY PORTFOLIO</button>
                    <button class="btn  py-2 px-4 bg-main animate__animated animate__fadeInUp" [routerLink]="'/contact'">GET IN TOUCH</button>
            
                </div>

            </div>

        </div>
    </div>
</header>